<div class="center aligned ui segment bottom fixed menu " style="margin-top: 6rem; text-align: center !important;">
    <div class="ui main text">
        <p class="copyright">© <%= new Date().getFullYear() %> | Developed by
            Hristiyan Maverov</p>
    </div>
</div>

</body>

</html>