<%- include ("partials/header") %>

<div class="spacer">&nbsp;</div>

<div class="ui container main text segment newpost" style="margin: 2rem 0; padding: 2rem;">
    <form action="/blogs" method="POST" class="ui form">
        <h4 class="ui huge header"
            style="text-align: center; margin-bottom: 2rem; border-bottom: 1px solid #1B1C1D; padding-bottom: 0.5rem;">
            Create a New Post
        </h4>
        <div class="ui field">
            <label for="blog[title]">Enter your blog post title here:</label>
            <input type="text" name="blog[title]" placeholder="Title of your blog post..." required>
        </div>
        <div class="ui field">
            <label for="blog[image]">Enter the Image URL here:</label>
            <input type="text" name="blog[image]" placeholder="Image URL for your post..." required>
        </div>
        <div class="ui field">
            <label for="blog[body]">Type in your blog content here:</label>
            <!-- <textarea type="text" name="blog[body]" placeholder="Type your blog post here..."> -->
            <textarea name="blog[body]" cols="30" rows="10" placeholder="Type your blog post here..."
                required></textarea>
        </div>
        <div class="ui field" style="text-align: center;">
            <button class="ui button secondary">
                <i class="paper plane icon"></i> SUBMIT</button>
        </div>
    </form>
</div>

<%- include ("partials/footer") %>